@import './fonts.css';
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Poppins', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #6387ff;
    /*--color-primary: #fbbf24;*/
    --color-primary-dark: #0b0d14; /* fallback */
}

html {
    scroll-behavior: smooth;
}

[x-cloak] {
    display: none !important;
}

.project-content p {
    margin-bottom: 0.75rem;
}

.project-content ul {
    margin-bottom: 0.75rem;
    padding-left: 1.25rem;
    list-style: disc;
}

.project-content li {
    margin-bottom: 0.25rem;
}
